---
Checks: '*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-avoid-magic-numbers,-fuchsia-*,-google-runtime-references,-hicpp-no-array-decay,-hicpp-vararg,-llvm-header-guard,-modernize-use-trailing-return-type,-readability-implicit-bool-conversion,-readability-magic-numbers'

#
#  For a list of check options, see:
#  https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
#  Disabled checks:
#
#  cppcoreguidelines-pro-bounds-array-to-pointer-decay
#    Limited use and many false positives including for all asserts.
#
#  cppcoreguidelines-pro-bounds-pointer-arithmetic
#    This is a low-level library, it needs to do pointer arithmetic.
#
#  cppcoreguidelines-pro-type-vararg
#  hicpp-vararg
#    The libc has some of these functions.
#
#  cppcoreguidelines-avoid-magic-numbers
#  readability-magic-numbers
#    Too strict.
#
#  fuchsia-*
#    Much too strict.
#
#  google-runtime-references
#    This is just a matter of preference, and we can't change the interfaces
#    now anyways.
#
#  hicpp-no-array-decay
#    Alias for cppcoreguidelines-pro-bounds-array-to-pointer-decay.
#
#  llvm-header-guard
#    Using #pragma once
#
#  modernize-use-trailing-return-type
#    We are not that modern.
#
#  readability-implicit-bool-conversion
#    I don't think this makes the code more readable.
#
WarningsAsErrors: '*'
HeaderFilterRegex: '\/src\/'
...
