---
database:
    host: $PGHOST
    port: $PGPORT
    dbname: $PGDATABASE
    user: $PGUSER
    password: $PGPASSWORD
    replication_slot: rs
log_dir: $TESTDIR/log
changes_dir: $TESTDIR/changes
tmp_dir: $TESTDIR/tmp
run_dir: $TESTDIR/run
